#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R   &kp T             &kp Y   &kp U   &kp I      &kp O    &kp P     &kp BSPC
&none      &kp A  &kp S  &kp D     &kp F   &kp G             &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V   &kp B             &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &trans  &trans            &trans  &trans  &kp RALT
            >;
        };
    };
};
